<html>
    <head>
        <title>你的名字</title>
        <script type="text/javascript" src="jquery-1.7.1.min.js">         
        </script>
        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/jquery-3.1.1.js"></script>
        <link href="~/Css/UserInfo.css" rel="stylesheet" />
<script type="text/javascript" >
    $(document).ready(function () {
        $("#btn_center").click(function () {
            popCenterWindow();
        });
        $("#close").click(function () {
            closeWindow();
        });
        $("#dialog").hide();
        
                @{
                    int h = ((List<WebBlogSystem.Models.Blog>)ViewBag.bloglist).Count;
                    int i = 0;
                    }
        var blognum = '@h';

        for (n = 0; n < blognum; n++) {
            $(".discollect" + n).bind("click", { index: n }, discollectclick);
        }
        function discollectclick(event) {
            var h = event.data.index;

            $.ajax({
                type: 'GET',
                url: "/Blog/discollectblog",
                data: {blogid: $(".discollect" + h).attr("id") },
                datatype: "json",
                success: function (data) {
                    alert(data);
                    if (data == "已取消收藏")
                    {
                        window.location.reload();
                    }
                },
                error: function () {
                    alert("出错");
                }
            });
        }

        $(".writenotice").click(function () {
            popCenterWindow();
            $("#submitleavemessage").text("添加公告");
        });
        $("#submitleavemessage").click(function () {
            if ($("#submitleavemessage").text() == "添加公告") {
                $.ajax({
                    type: 'GET',
                    url: "/Home/writenotice",
                    data: { content: $("#leavemessage").val() },
                    datatype: "json",
                    success: function (data) {
                        if (data == "添加成功") {
                            window.location.reload();
                        }
                        alert(data);
                    },
                    error: function () {
                        alert("出错");
                    }
                });
            } else {
                $.ajax({
                    type: 'GET',
                    url: "/Home/addleavemessage",
                    data: { username: '@ViewBag.username', content: $("#leavemessage").val() },
                    datatype: "json",
                    success: function (data) {
                        alert(data);
                        if (data == "留言成功") {
                            closeWindow();
                        } else
                            alert("留言失败");

                    },
                    error: function () {
                        alert("出错");
                    }
                });
            }
            $("#submitleavemessage").text("提交留言");
        });

        if ('@ViewBag.username' == '@Context.User.Identity.Name') {
            $(".Concern").hide();
        } else {
            $(".Concern").show(); $(".title a").hide();
        }

        if ('@ViewBag.flag' == "true")
        {
            $("#btn_focus").text("取消关注");
        }

        $("#btn_focus").click(function () {
            if ($("#btn_focus").text() == "关注") {
                $.ajax({
                    type: 'GET',
                    url: "/Home/focususer",
                    data: { username: '@ViewBag.username' },
                    datatype: "json",
                    success: function (data) {
                        alert(data);
                        window.location.reload();
                    },
                    error: function () {
                        alert("出错");
                    }
                });
            } else {

                $.ajax({
                    type: 'GET',
                    url: "/Home/disfocus",
                    data: { username: '@ViewBag.username' },
                    datatype: "json",
                    success: function (data) {
                        alert(data);
                        window.location.reload();
                    },
                    error: function () {
                        alert("出错");
                    }
                });
            }

        });

    });
</script>
        <style>
            .focunum {
            height:200px;
             position:relative;
                top: 130px;
                left: 100px;
                margin-top: 0px;
                width: 494px;
                color:white;
            }
            .flollwnum {
            height:200px;
             position:relative;
                top: 100px;
                left: 100px;
                margin-top: 0px;
                width: 494px;
                color:white;
            }
            .notreadchatnum {
            height:200px;
             position:relative;
                top: 70px;
                left: 100px;
                margin-top: 0px;
                width: 494px;
                color:white;
            }
            .leavemessagenum {
            height:200px;
             position:relative;
                top: 40px;
                left: 100px;
                margin-top: 0px;
                width: 494px;
                color:white;
            }
            .usercollectnum {
            height:200px;
             position:relative;
                top: 10px;
                left: 100px;
                margin-top: 0px;
                width: 494px;
                color:white;
            }
            .writenotice {
            cursor:pointer;
            position:absolute;
            left:200px;
            top:150px;
            color:white;
                    transition-delay:0s;
                    transition-duration:0.5s;
                    transition-property:all;
            }
                .writenotice:hover {
                    color:gray;
                    transition-delay:0s;
                    transition-duration:0.5s;
                    transition-property:all;
                }

        </style>
    </head>
    <body>
        <div id="dialog">
          <textarea name="a" style="width:600px;height:200px;font-size:20px" id="leavemessage" ></textarea>
            <button style="width:80px;height:40px;position:absolute; top: 249px; left: 491px;" id="submitleavemessage">提交留言</button>
             <button style="width:80px;height:40px;position:absolute; top: 252px; left: 22px;" id="close">关闭</button>
        </div>
        <div class="BlogerInfo"> 
            <div class="container">
            <h1  class="BlogerName" style="top:10px;left:200px" >Username:@ViewBag.username</h1></div>
            
            <div class="BlogerPic avatar">
                <h1 class="writenotice">写公告</h1>
                <img class="" src="@{@ViewBag.imag}" />
            </div>
            <div class="BlogerNotic">
                <h4> @(((WebBlogSystem.Models.Notice)ViewBag.notice).time)</h4>
                <h2> @(((WebBlogSystem.Models.Notice)ViewBag.notice).content)</h2>
            </div>
            <Button class="Concern" id="btn_focus">关注</Button>
            <Button class="Concern" id="btn_center">留言</Button>
            <Button class="Concern" id="btn_chat" onclick="javascript:window.location.href='/Home/UserChat?name=@ViewBag.username'">私信</Button>
        </div>
            
        <div class="Content">
            @foreach(WebBlogSystem.Models.Blog q  in (List<WebBlogSystem.Models.Blog>) ViewBag.bloglist)
            {
                int index = (((List<WebBlogSystem.Models.Blog>)ViewBag.bloglist).IndexOf(q));
                
                <div class="SimpleBlog" id="simpleblog@{@index}" onclick="javascirpt:window.location.href='/Blog/Index/@q.blogid'">                    
                    <div><img src="ft5_71_story/images/project-1.jpg" />  
                    <div class="main"> 
                        <h1 class="time">UpdatTime:@q.updatetime</h1>
                        <h1 class="time">Name:@(((List<string>)ViewBag.namelist).ElementAt(index))</h1>
                        <a href="#" class="title">@q.title </a>
                       &nbsp&nbsp&nbsp&nbsp&nbsp 
                        <a href="#" class="discollect@{@index}" id="@q.blogid">取消收藏</a>
                        <h2 class="introduction">...</h2>
                    </div>
                        
                    </div>  
            </div>
            }
        </div>     
    </body>
     <script type="text/javascript">

         //关闭窗口的方法 
         function closeWindow() {
             $("#dialog").hide();
         }
         //定义弹出居中窗口的方法 
         function popCenterWindow() {

             $("#dialog").show();          //并且让 节点（“dialog”） show（）出来
         
         }
          </script> 
</html>